.container
  %br/
  .row
    .col-md-12.col-lg-12.col-sm-12.col-xs-12
      %h3
        Sellers
      %hr/
  %br/
  .row
    - @sellers.each do |seller|
      .col-md-12.col-lg-12.col-sm-12.col-xs-12
        .col.mb-4
          .card
            .row
              .col-lg-4.col-md-4.col-sm-6
                .view-ovelay
                  %img.card-img-top.seller-img{:alt => "Card image cap", :src => "#{seller.try(:image).url(:thumb).to_s}"}/
                  %a{:href => "#!"}
                    .mask.rgba-white-slight
              .col-lg-8-col-md-4.col-sm-6
                .container
                  .row
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                      %br/
                      %h3
                        = seller_fullname(seller)
                      %hr/
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                      %br/
                      %strong
                        Position:
                      = seller_position(seller)
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                      %br/
                      %strong
                        PRC:
                      = seller_prc(seller)
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                      %br/
                      %strong
                        HLURB:
                      = seller_hlurb(seller)
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                      %br/
                      = seller_fb_link(seller)
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                      %br/