.container
  %br/
  %br/
  .row
    .col-md-6.col-lg-6
      .col-md-12.col-lg-12
        %center
          %h3
            = "Amaia #{@unit.try(:type).try(:name)} #{@unit.try(:specific_location)}"
        %hr/
      .col-md-12.col-lg-12
        %h4
          Project Concept
      .col-md-12.col-lg-12
        %br/
        = @unit.try(:project_concept).nil? ? '' : @unit.try(:project_concept).html_safe
      .col-md-12.col-lg-12
        %h4
          Location and Vicinity
      .col-md-12.col-lg-12
        %br/
        = @unit.try(:location_and_vicinity).nil? ? '' : @unit.try(:location_and_vicinity).html_safe
      .col-md-12.col-lg-12
        %h4
          Amenities and Facilities
      .col-md-12.col-lg-12
        %br/
        = @unit.try(:amenities_and_facilities).nil? ? '' : @unit.try(:amenities_and_facilities).html_safe
      .col-md-12.col-lg-12
        %h4
          Model Unit
      .col-md-12.col-lg-12
        %br/
        = @unit.try(:model_unit).nil? ? '' : @unit.try(:model_unit).html_safe
      .col-md-12.col-lg-12
        %h4
          Units and Floor Plans
      .col-md-12.col-lg-12
        %br/
        = @unit.try(:units_and_floor_plan).nil? ? '' : @unit.try(:units_and_floor_plan).html_safe
      .col-md-12.col-lg-12
        %h4
          FAQ's
      .col-md-12.col-lg-12
        %br/
        = @unit.try(:faq).nil? ? '' : @unit.try(:faq).html_safe
    .col-md-4.col-lg4-4
      = render 'shared/image_galleries', image_galleries: @unit.image_galleries
    .col-md-2.col-lg-2
      = render 'shared/list_of_projects', available_locations: @available_locations