:css
  @import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
  .login-block {
    background: #DE6262;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #52b848, #449c3c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #52b848, #449c3c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    float:left;
    width:100%;
    padding : 50px 0;
  }

  .banner-sec {
    background:url(https://static.pexels.com/photos/33972/pexels-photo.jpg)  no-repeat left bottom; 
    background-size:cover; 
    min-height:500px; 
    border-radius: 0 10px 10px 0; 
    padding:0;
    }

  .container {
    background:#fff; 
    border-radius: 10px; 
    box-shadow:15px 20px 0px rgba(0,0,0,0.1);
  }

  .carousel-inner {
    border-radius:0 10px 10px 0;
  }
  
  .carousel-caption {
    text-align:left; left:5%;
  }
  
  .login-sec {
    padding: 50px 30px; 
    position:relative;
  }
  
  .login-sec .copy-text {
    position:absolute; 
    width:80%; 
    bottom:20px; 
    font-size:13px; 
    text-align:center;
  }
  
  .login-sec .copy-text i {
    color:#FEB58A;
  }
  
  .login-sec .copy-text a {
    color:#E36262;
  }
  
  .login-sec h2 {
    margin-bottom:30px; 
    font-weight:800; 
    font-size:30px; 
    color: #449c3c;
  }
  
  .login-sec h2:after {
    content:" "; 
    width:100px; 
    height:5px; 
    background:#52b848; 
    display:block; 
    margin-top:20px; 
    border-radius:3px; 
    margin-left:auto;
    margin-right:auto
  }
  
  .btn-login {
    background: #3e8a37; 
    color:#fff; 
    font-weight:600;
  }
  
  .banner-text {
    width:70%; 
    position:absolute; 
    bottom:40px; 
    padding-left:20px;
  }
  
  .banner-text h2 {
    color:#fff; 
    font-weight:600;
  }
  
  .banner-text h2:after {
    content:" "; 
    width:100px; 
    height:5px; 
    background:#FFF; 
    display:block; 
    margin-top:20px; 
    border-radius:3px;
  }
  
  .banner-text p {
    color:#fff;
  }

%section.login-block
  .container
    .row
      .col-md-4.login-sec
        %h2.text-center Login Now
        = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'login-form' }) do |f|
          .form-group
            %label.text-uppercase{:for => "exampleInputEmail1"} Email
            = f.email_field :email, class: 'form-control mb-4', required: 'required'
          .form-group
            %label.text-uppercase{:for => "exampleInputPassword1"} Password
            = f.password_field :password, class: 'form-control mb-4'
          .form-check
            %button.btn.btn-login.float-right{:type => "submit"} Submit
        %br/
        %br/
        %br/
        %span
          = render "devise/shared/error_messages", resource: resource 
      .col-md-8.banner-sec
        #carouselExampleIndicators.carousel.slide{"data-ride" => "carousel"}
          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#carouselExampleIndicators"}
            %li{"data-slide-to" => "1", "data-target" => "#carouselExampleIndicators"}
            %li{"data-slide-to" => "2", "data-target" => "#carouselExampleIndicators"}
          .carousel-inner{:role => "listbox"}
            .carousel-item.active
              %img.d-block.img-fluid{:alt => "First slide", :src => "#{image_path('slide1.jpg')}"}/
              -# .carousel-caption.d-none.d-md-block
              -#   .banner-text
              -#     %h2 This is Heaven
              -#     %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            .carousel-item
              %img.d-block.img-fluid{:alt => "First slide", :src => "#{image_path('slide2.jpg')}"}/
            .carousel-item
              %img.d-block.img-fluid{:alt => "First slide", :src => "#{image_path('slide3.jpg')}"}/
-# :javascript
-#   $(function(){
-#     $('form').submit(function(e){
-#       var serialized_data = $(this).serialize();

-#       $.ajax({
-#         url: "/check_credential",
-#         type: "GET",
-#         dataType: 'JSON',
-#         data: serialized_data,
-#         success: function(data){
-#           if(data == "Valid credential"){
-#             window.location.href = "/admin";
-#           }
-#           else {
-#             e.preventDefault();
-#           }
          
-#           console.log(data);
-#         },
-#         error: function(err){
-#           console.log(err);
-#         }
-#       });
      
-#     });
-#   });   